<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>moduleId</key>
		<string>8b1733da3d2f407aaa3625640f465b3d</string>
		<key>moduleName</key>
		<string>关键配件管理</string>
		<key>privilegeId</key>
		<string>102</string>
		<key>icon</key>
		<string>auth_icon_manage_member</string>
	</dict>
	<dict>
		<key>moduleId</key>
		<string>0331ee75e55d4952bd1636a37b9c70ab</string>
		<key>moduleName</key>
		<string>设备校正</string>
		<key>privilegeId</key>
		<string>117</string>
		<key>icon</key>
		<string>chat_btn_action_location</string>
	</dict>
	<dict>
		<key>moduleId</key>
		<string>ea349cc13a5a4ebda4354b2b2c444731</string>
		<key>moduleName</key>
		<string>设备维修</string>
		<key>privilegeId</key>
		<string>101</string>
		<key>icon</key>
		<string>auth_icon_manage_member</string>
	</dict>
	<dict>
		<key>moduleId</key>
		<string>8b1733da3d2f407aaa3625640f465b3d</string>
		<key>moduleName</key>
		<string>设备点检保养</string>
		<key>privilegeId</key>
		<string>102</string>
		<key>icon</key>
		<string>chat_btn_action_favorite</string>
	</dict>
	<dict>
		<key>moduleId</key>
		<string>1f2221f337534b87a5a5e43954f7af28</string>
		<key>moduleName</key>
		<string>设备履历查询</string>
		<key>privilegeId</key>
		<string>112</string>
		<key>icon</key>
		<string>chat_btn_action_filebox</string>
	</dict>
	<dict>
		<key>moduleId</key>
		<string>4b3c6126c4ca4e698d88b4701a482f29</string>
		<key>moduleName</key>
		<string>厂务施工</string>
		<key>privilegeId</key>
		<string>116</string>
		<key>icon</key>
		<string>spotlight_ding</string>
	</dict>
	<dict>
		<key>moduleId</key>
		<string>9c200187e5434bdf9788870a5e250171</string>
		<key>moduleName</key>
		<string>IQC检验</string>
		<key>privilegeId</key>
		<string>150</string>
		<key>icon</key>
		<string>chat_btn_action_favorite</string>
	</dict>
	<dict>
		<key>moduleId</key>
		<string>752f3298c5314a6c8fb90233f44899f8</string>
		<key>moduleName</key>
		<string>废品</string>
		<key>privilegeId</key>
		<string>111</string>
		<key>icon</key>
		<string></string>
	</dict>
</array>
</plist>
